@use "mixins" as *;

.andyouCover {
  display: flex;
  position: absolute;
  bottom: 0;
// margin-top: 100px;

  & div {
    display: block !important;
  }

  @include ltr {
    margin-left: 100px;
  }

  @include rtl {
    margin-right: 100px;
  }

  @media (min-width: 1536px) {
    width: 40vw;

    @include ltr {
      margin-left: 5vw;
    }

    @include rtl {
      margin-right: 5vw;
    }
  }
}
