@use "mixins" as *;

.pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;

  & img {
    position: absolute;
    top: 0;
    height: 150px;
    width: 175px;
    margin-top: 20px;
  }

  & .languagePicker {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.languageButton {
  background: #f8d952;
  padding: 20px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
  cursor: pointer;
  font-family: "Alegreya";
  font-size: 30px;
  font-style: bold;
}
