@use "mixins" as *;

.pageContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.mainPanel {
  position: absolute;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8d952;

  @media (max-width: 1536px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  & img {
    position: absolute;
    top: 0;
    height: 150px;
    width: 175px;
    margin-top: 20px;
  }

  & .languagePicker {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.languageButton {
  background: #f8d952;
  padding: 20px;
  margin: 0px 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
  cursor: pointer;
  font-size: 30px;
  font-style: bold;
}
