@use "mixins" as *;

.pageContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
  pointer-events: none;

  .buttonSpacer {
    width: 650px;

    @include ltr {
      margin-left: 430px; /* Same as the width of the sidebar */
    }

    @include rtl {
      margin-right: 430px; /* Same as the width of the sidebar */
    }

    @media (min-width: 1536px) {
      width: 38%;
    }
  }
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;

  .contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    padding: 30px;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    outline: none;
    pointer-events: auto;
    cursor: not-allowed;

    & p {
      font-size: 18px;
      font-style: italic;
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  position: absolute;
  outline: none;
  background-color: #f8d952;
  border-radius: 20px;
  display: flex;
  padding: 25px;
  padding-bottom: 0px;

  & form {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;

    & input,
    & select,
    & textarea {
      background: transparent;
      margin: 10px 0px;
      width: 400px;
      border: none;
      border-bottom: 1px solid;
      font-size: 20px;
      padding: 5px;
      outline: none;
      font-family: inherit;

      &::placeholder {
        color: rgba(0, 0, 0, 1);
        opacity: 1;
      }
    }

    & button {
      width: 100%;
      font-size: 21px;
      margin: 30px 0;
      color: #f8d952;
      font-weight: bold;
      background-color: black;
      height: 40px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-family: inherit;
    }
  }
}

.closeButton {
  align-self: flex-start;
  background-color: transparent;
  height: 40px;
  border: none;
  padding: 0;
  margin-top: -8px;
  font-size: 35px;
  cursor: pointer;
}
