@use "mixins" as *;

.contactButton {
  background: #f8d952;
  padding: 30px;
  width: 235px;
  height: 235px;
  margin-top: 580px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border: solid black;

  @include ltr {
    margin-left: 1100px;
  }

  @include rtl {
    margin-right: 1100px;
  }

  & p {
    font-size: 23px;
    font-family: "Alegreya";
    font-style: italic;
  }
}

.contactModal {
  position: fixed;
  z-index: 10;
}
