.blueCircle {
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 40px;
  background-color: blue;
}

.contactForm .modal {
  background-color: blue;
}
