@use "mixins" as *;

.pageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 3;
  position: fixed;
  top: 0;
  pointer-events: none;

  @media (max-width: 767px) {
    padding: 10px;
    display: none;
  }

  .buttonSpacer {
    width: 650px;

    @include ltr {
      margin-left: 430px; /* Same as the width of the sidebar */
    }

    @include rtl {
      margin-right: 430px; /* Same as the width of the sidebar */
    }

    @media (min-width: 1536px) {
      width: 38%;
    }

    @media (max-width: 580px) {
      @include ltr {
        margin-left: 0; /* Same as the width of the sidebar */
      }

      @include rtl {
        margin-right: 0; /* Same as the width of the sidebar */
      }
    }
  }
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-grow: 1;

  .contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    outline: none;
    pointer-events: auto;
    cursor: not-allowed;

    & p {
      font-size: 16px;
      font-style: italic;
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  position: absolute;
  outline: none;
  background-color: #f8d952;
  border-radius: 20px;
  display: flex;
  padding: 25px;
  padding-bottom: 0px;
  max-width: 100%;

  @media (max-width: 500px) {
    padding: 5px;
  }

  & form {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;

    & input,
    & select,
    & textarea {
      background: transparent;
      margin: 10px 0px;
      width: 400px;
      border: none;
      border-bottom: 1px solid;
      font-size: 20px;
      padding: 5px;
      outline: none;
      font-family: inherit;

      @media (max-width: 500px) {
        width: 100%;
      }

      &::placeholder {
        color: rgba(0, 0, 0, 1);
        opacity: 1;
      }
    }

    & button {
      width: 100%;
      font-size: 21px;
      margin: 30px 0;
      color: #f8d952;
      font-weight: bold;
      background-color: black;
      height: 40px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-family: inherit;
    }
  }
}

.closeButton {
  align-self: flex-start;
  background-color: transparent;
  height: 40px;
  border: none;
  padding: 0;
  margin-top: -8px;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 7px;
}

.contactWrapper {
  position: relative;

  width: 20vw;
  height: 20vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 210px;
  max-height: 210px;

  margin-bottom: 50px;
  margin-right: 10px;

  @media (max-width: 1024px) {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.circleContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: rotate(-90deg);

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .circleAnimation {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: stroke 2s ease-out forwards;
    animation-delay: 1.5s;
  }

  @keyframes stroke {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
