@use 'mixins' as *;
@import 'fonts';
@import url('/components/Menu.js');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

// Localized fonts
.locale {
  &.ar,
  & .ar {
    font-size: 34px;
    font-family: 'MizanAR-Regular';

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    .heading {
      font-family: 'MizanAR-SemiBold';
    }
    & .nameStory,
    .work,
    .mt-1,
    .mainTitle,
    .meetingTitle,
    .toneTitle,
    .brandTitle,
    .testTitle,
    .contentHome,
    .homeTitle,
    .title,
    .teamTitle,
    .subheaderTitle,
    .subsectionTitle {
      font-family: 'MizanAR-Bold' !important;
      font-size: 42px !important;
    }
    & .proudStory,
    .homeWork,
    .homeProjects,
    .servicesContent,
    .homeSummary,
    .meetingPara1,
    .meetingPara2,
    .list,
    .tonePara1,
    .tonePara2,
    .brandPara1,
    .brandPara2,
    .testPara1,
    .testPara2,
    .testPara3,
    .storyTeamwork,
    .storyWorld,
    .container-content,
    .quality {
      font-family: 'MizanAR-Regular' !important;
      font-size: 30px !important;
    }
    & .memberName,
    .serviceTitles,
    .mainHeader {
      font-family: 'MizanAR-SemiBold' !important;
      font-size: 30px !important;
    }
    & .memberRole {
      font-family: 'MizanAR-Regular' !important;
      font-size: 25px !important;
    }
    & .maujHover,
    .palmHover,
    .shafraHover,
    .authorityHover,
    .albalad,
    .redSea,
    .pavilion,
    .arts,
    .light,
    .myths {
      font-family: 'MizanAR-Bold' !important;
      font-size: 50px !important;
    }
    & .whitebox-font,
    .testPara1,
    .testPara2,
    .testPara3,
    .sub-title,
    .titleMain,
    .portfolioTitle {
      font-family: 'MizanAR-Bold' !important;
      font-size: 35px !important;
    }

    & .bolder {
      font-family: 'MizanAR-Regular';
      font-size: 27px;
    }
    & .email {
      font-family: 'Lierata-Regular';
      font-size: 22px;
    }
    & .approachHeader,
    .contentWritingFont,
    .creativeWritingFont,
    .mainHeader,
    .bolded,
    .mainPara {
      font-family: 'MizanAR-Bold';
      font-size: 30px;
    }
    & .contentService {
      font-family: 'MizanAR-Regular';
      font-size: 35px;
    }

    & .picBgAr {
      width: 700px;
    }

    & .homeTitle {
      color: white;
      position: absolute;
      width: 360px;
      top: 4%;
      margin-right: 30px;
      font-size: 1.875rem !important;
      font-family: 'MizanAR-Bold';
    }

    & .homeSummary {
      position: absolute;
      color: black;
      top: 23%;
      width: 360px;
      margin-right: 150px;
      font-size: 1.4rem !important;
      font-family: 'MizanAR-SemiBold';
    }

    & .storyContent {
      position: absolute;
      color: black;
      top: 32%;
      width: 360px;
      margin-right: 65px;
      font-size: 1.875rem !important;
      font-family: 'MizanAR-Bold';
    }

    & .servicesContent {
      position: absolute;
      color: black;
      top: 41%;
      width: 360px;
      margin-right: 65px;
      font-size: 1.4rem !important;
      font-family: 'MizanAR-SemiBold';
    }

    & .approach {
      position: absolute;
      color: white;
      top: 47%;
      width: 400px;
      margin-right: 250px;
      font-size: 1.875rem !important;
      font-family: 'MizanAR-Bold';
    }

    & .projects {
      position: absolute;
      color: white;
      top: 60%;
      width: 400px;
      margin-right: 250px;
      font-size: 1.4rem !important;
      font-family: 'MizanAR-Regular';
    }

    & .partner {
      position: absolute;
      color: white;
      top: 73%;
      width: 500px;
      margin-right: 110px;
      font-size: 1.875rem !important;
      font-family: 'MizanAR-Bold';
    }

    & .communicate {
      position: absolute;
      color: white;
      top: 79%;
      width: 500px;
      margin-right: 110px;
      font-size: 1.4rem !important;
      font-family: 'MizanAR-Regular';
    }

    & .circleBfrHover,
    .circleAfterHover {
      font-size: 20px;
    }

    & .store {
      font-size: 25px;
      font-family: 'MizanAR-Bold';
      position: absolute;
      margin-top: 435px;
    }

    & .storeSmall {
      font-size: 20px;
      font-family: 'Lierata-Regular';
      position: absolute;
      margin-top: 470px;
    }

    & .whitebox-font,
    .servicesHeader,
    .brandsNumber,
    .testPara1,
    .testPara2,
    .testPara3,
    .shafraTest,
    .musaPara1,
    .musaPara2,
    .musaPara3 {
      font-size: 32px !important;
      font-family: 'MizanAR-Bold';
    }
    & .contentService {
      font-size: 32px !important;
      font-family: 'MizanAR-Regular';
    }

    & .hyperLink {
      font-size: 30px;
      font-family: 'MizanAR-Bold';
    }
  }

  &.en-US,
  & .en-US {
    font-size: 25px;
    font-family: 'Lierata-Regular';

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    .heading {
      font-family: 'Lierata-SemiBold';
    }
    & .container-content,
    .storyTeamwork,
    .memberRole,
    .proudStory,
    .homeWork,
    .homeProjects,
    .servicesContent,
    .homeSummary,
    .meetingPara1,
    .meetingPara2,
    .list,
    .tonePara1,
    .tonePara2,
    .brandPara1,
    .brandPara2,
    .testPara1,
    .testPara2,
    .testPara3,
    .quality {
      font-family: 'Sharik-Regular';
      font-size: 25px;
    }
    & .nameStory,
    .work,
    .mt-1,
    .mainTitle,
    .meetingTitle,
    .toneTitle,
    .brandTitle,
    .testTitle,
    .contentHome,
    .homeTitle,
    .introPara,
    .title,
    .andYouTitle,
    .teamTitle,
    .subheaderTitle,
    .subsectionTitle {
      font-family: 'Lierata-Bold' !important;
      font-size: 34px !important;
    }

    & .memberName,
    .testPara1,
    .testPara2,
    .testPara3 {
      font-family: 'Lierata-SemiBold' !important;
      font-size: 30px !important;
    }
    & .memberName,
    .serviceTitles {
      font-size: 25px !important;
      font-family: 'Lierata-SemiBold' !important;
    }
    & .memberRole {
      font-family: 'Sharik-Regular';
      font-size: 15px !important;
    }
    & .whitebox-font,
    .testPara1,
    .testPara2,
    .testPara3,
    .sub-title,
    .titleMain,
    .portfolioTitle {
      font-family: 'Lierata-Bold' !important;
      font-size: 30px !important;
    }
    & .bolder,
    .email {
      font-family: 'Lierata-Regular';
      font-size: 22px;
    }
    & .approachHeader,
    .contentWritingFont,
    .creativeWritingFont,
    .mainHeader,
    .bolded {
      font-family: 'Sharik-Bold';
      font-size: 25px;
    }
    & .contentService {
      font-family: 'Lierata-Regular';
      font-size: 30px;
    }
    & .maujHover {
      font-family: 'Lierata-Bold';
      font-size: 42px;
    }
    & .totalWhiteBoxCulture {
      font-family: 'Lierata-Regular';
      font-size: 27px;
    }

    & .mainPara {
      font-family: 'Sharik-SemiBold';
      font-size: 25px;
    }

    & .serviceHeader {
      font-family: 'Sharik-SemiBold';
      font-size: 30px;
    }

    & .picBg {
      width: 700px;
    }

    & .homeTitle {
      color: white;
      position: absolute;
      width: 360px;
      top: 3%;
      margin-left: 30px;
      font-size: 1.3rem !important;
      font-family: 'Lierata-Bold';
    }

    & .homeSummary {
      position: absolute;
      color: black;
      top: 21.75%;
      width: 360px;
      margin-left: 120px;
      font-size: 1.1rem !important;
      font-family: 'Sharik-regular';
    }

    & .storyContent {
      position: absolute;
      color: black;
      top: 32%;
      width: 360px;
      margin-left: 65px;
      font-size: 1.3rem !important;
      font-family: 'Lierata-Bold';
    }

    & .servicesContent {
      position: absolute;
      color: black;
      top: 41%;
      width: 360px;
      margin-left: 65px;
      font-size: 1.15rem !important;
      font-family: 'Sharik-regular';
    }

    & .approach {
      position: absolute;
      color: white;
      top: 48%;
      width: 400px;
      margin-left: 250px;
      font-size: 1.3rem !important;
      font-family: 'Lierata-Bold';
    }

    & .projects {
      position: absolute;
      color: white;
      top: 59%;
      width: 400px;
      margin-left: 250px;
      font-size: 1.15rem !important;
      font-family: 'Sharik-regular';
    }

    & .partner {
      position: absolute;
      color: white;
      top: 74%;
      width: 500px;
      margin-left: 110px;
      font-size: 1.3rem !important;
      font-family: 'Lierata-Bold';
    }

    & .communicate {
      position: absolute;
      color: white;
      top: 79%;
      width: 500px;
      margin-left: 110px;
      font-size: 1.15rem !important;
      font-family: 'Sharik-regular';
    }

    & .store {
      font-size: 25px;
      font-family: 'Lierata-SemiBold';
      position: absolute;
      margin-top: 380px;
    }
    & .storeSmall {
      font-size: 20px;
      font-family: 'MizanAR-Regular';
      position: absolute;
      margin-top: 425px;
    }
    & .navLink {
      color: green !important;
    }
    & .whitebox-font,
    .servicesHeader,
    .brandsNumber,
    .testPara1,
    .testPara2,
    .testPara3,
    .shafraTest,
    .musaPara1,
    .musaPara2,
    .musaPara3 {
      font-size: 27px !important;
      font-family: 'Lierata-Bold';
    }
    & .contentService {
      font-size: 27px !important;
      font-family: 'Lierata-Regular';
    }

    & .hyperLink {
      font-size: 25px;
      font-family: 'Sharik-Bold';
    }

    & .maujPic {
      width: 700px;
    }
  }
}

h1 p {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: normal;

  & p {
    font-size: 28px;
    font-weight: normal;
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;

  & p {
    font-size: 25px;
    font-weight: normal;
  }
}

h4 p {
  font-size: 23px;
  font-weight: bold;
}

h5 p {
  font-size: 20px;
  font-weight: bold;
}

.lighter {
  font-weight: lighter !important;

  & p {
    font-weight: lighter !important;
  }
}

.bolder {
  font-weight: bold !important;

  & p {
    font-weight: bold !important;
  }
}
.ar .bolder {
  font-weight: bolder !important;

  & p {
    font-weight: bolder !important;
  }
}

.ar .tone .list {
  list-style: none;
  font-size: 25px;
  padding: 0 !important;
  //font-family: "Alegreya";
}

.medFont {
  font-weight: normal !important;

  & span {
    font-weight: normal !important;
  }
}

.ar .medFont {
  font-weight: bold !important;

  & span {
    font-weight: bold !important;
  }
}

.medFont:hover {
  color: white;
}

.ar .medFont:hover {
  color: white;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0.5px solid black;

  &.big-margin {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.mt-0 {
  &,
  & p,
  & .content-wrapper {
    margin-top: 0px !important;
    margin-block-start: 0px !important;
  }
}

.mb-0 {
  &,
  & p,
  & .content-wrapper {
    margin-bottom: 0px !important;
    margin-block-end: 0px !important;
  }
}

.background-animation {
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-left: 33%;
  background-color: rgb(248, 217, 82);

  @media (max-width: 767px) {
    width: 100%;
    left: 0 !important;
  }

  @include ltr {
    left: 0;
  }

  @include rtl {
    right: 0;
  }
}

.container {
  width: calc(100% - 430px);
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  height: fit-content;
  min-height: -webkit-fill-available;

  @include ltr {
    margin-left: 430px;
  }

  @include rtl {
    margin-right: 430px;
  }

  @media (max-width: 1240px) {
    width: calc(100% - 230px);

    @include ltr {
      margin-left: 230px;
    }

    @include rtl {
      margin-right: 230px;
    }
  }

  @media (max-width: 1024px) {
    padding-bottom: 160px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 125px;
    padding-left: 20px;
    padding-right: 20px;

    @include ltr {
      margin-left: 0;
    }

    @include rtl {
      margin-right: 0;
    }
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;

    z-index: -1;
    @media (min-width: 1536px) {
    }
    @media (max-width: 767px) {
      max-width: 767px;
    }
  }

  &-content {
    width: 100%;

    padding: 0 50px;

    p {
      max-width: 800px;
    }

    @media (min-width: 1536px) {
    }

    @media (max-width: 767px) {
      padding: 0 30px;
    }
  }

  &-image {
    padding-left: 50px;
    padding-right: 20px;

    img {
      max-width: 100%;
      height: auto;
    }
    @media (max-width: 767px) {
      padding-left: 30px;
      padding-right: 15px;
    }
  }

  &-object {
    padding: 0 50px;

    @media (max-width: 767px) {
      padding: 0 30px;
      padding-right: 0;
    }
  }
}

.content-wrapper {
  margin-top: 20px;
  cursor: pointer;

  & h2,
  h5,
  p {
    display: inline;
  }

  & .reveal-icon {
    stroke-width: 1.5px;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -7px;

    @include ltr {
      margin-left: 5px;
    }

    @include rtl {
      margin-right: 5px;
    }
  }
}

.transition_dot {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.unwrapped-content {
  margin-top: 20px;

  &.inline h5,
  &.inline p {
    display: inline;
  }
}

.content-block {
  margin-bottom: 30px;

  & p {
    margin: 0;
  }
}
.mobile-notsupported-text {
  position: absolute;
  bottom: 30%;
  text-align: center;
  color: #999;
  font-size: 18px;
  width: 80%;
  font-weight: bold;
}
.mobile-notsupported-container {
  display: flex;
  justify-content: center;
}

.not-supported-iframe {
  width: 100vw;
  height: 100vh;
}

.proud-section {
  font-family: 'Lierata-Regular';

  .proud-section .ar {
    font-family: 'MizanAR-Regualr' !important;
  }
}

// .whitebox-font {
//   font-size: 28px !important;
// }

.maujHover:hover {
  color: #331640;
}
.shafraHover:hover {
  color: #644895;
}
.palmHover:hover {
  color: #c14729;
}
.authorityHover:hover {
  color: #d29e0e;
}
.albalad:hover {
  color: #f6d753;
}
.redSea:hover {
  color: #3da4a5;
}
.pavilion:hover {
  color: #9ec5bc;
}
.arts:hover {
  color: #331640;
}
.light:hover {
  color: #644895;
}

.myths:hover {
  color: #331640;
}

.content {
  font-size: 30px !important;
  font-weight: bold !important;
  font-family: 'Lierata-SemiBold';
}

.content .ar {
  font-size: 30px !important;
  font-weight: bold !important;
  // font-family: "GE Dinar One";
}

.mt-1 {
  font-size: 30px !important;
  font-weight: bold !important;
  // font-family: "Alegreya"
}

.mt-1 .ar {
  font-size: 30px !important;
  font-weight: bold !important;
  // font-family: "GE Dinar One" !important;
}

.work {
  font-size: 30px !important;
  font-weight: bold !important;
  font-family: 'Lierata-SemiBold';
}

.balance .ar {
  font-size: 30px !important;
  font-weight: bold !important;
}

.codeTitle,
.mmTitle,
.langTitle,
.storyTitle,
.title {
  font-size: 30px !important;
  font-weight: bold !important;
}

table,
th,
td {
  border: 0.5px solid black;
  width: 900px;
  height: 25px;
  font-weight: normal !important;
  font-size: 24px;
}

// .arabic {
//   text-align: right;
//   font-family: "GE Dinar One" !important;
// }

// .english {
//   text-align: left;
//   font-size: "Alegreya Sans" !important;
// }

.story {
  margin-left: 25px !important;
}

.para1,
.para2,
.para3 {
  font-size: 25px !important;
}

.devCenter {
  text-align: center !important;
}

.package1,
.package3,
.package5 {
  font-weight: bold;
}

.people {
  font-weight: bold;
  text-decoration: line-through;
}

.peopleDiff {
  font-weight: bold;
}

.textSize {
  font-size: 18px !important;
}

.class {
  font: 20px;
}

// .mainTitle, .meetingTitle, .toneTitle, .brandTitle, .testTitle {
//   font-family: 'Lierata-Bold' !important;
//   font-size: 30px;
// }
// .meetingPara1, .meetingPara2, .list, .tonePara1, .tonePara2, .brandPara1, .brandPara2, .testPara1, .testPara2, .testPara3  {
//   font-family: 'Sharik-Regular' !important;
//   font-size: 25px;

// }

// .shafraTable {
//   height: 150%;
//   width: 90%;
//   object-fit: contain;
// }

.homePageEn {
  width: 1000px !important;
  height: 100% !important;
}

.bio-container {
  max-height: 200px;
  overflow-x: auto;
  font-size: 12px !important;
  font-family: 'Lierata-Regular';
  overflow-y: visible; /* Scrollbar for overflow content */
}
