@use "mixins" as *;
@import "fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

// Localized fonts
.locale {
  &.ar,
  & .ar {
    font-size: 20px;
    font-family: "GE Dinar One";

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    .heading {
      font-family: "GE Dinar Two";
    }
  }

  &.en-US,
  & .en-US {
    font-size: 20px;
    font-family: "Alegreya Sans";

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    .heading {
      font-family: "Alegreya";
    }
  }
}

h1 p {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: normal;

  & p {
    font-size: 28px;
    font-weight: normal;
  }
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;

  & p {
    font-size: 25px;
    font-weight: normal;
  }
}

h4 p {
  font-size: 23px;
  font-weight: bold;
}

h5 p {
  font-size: 20px;
  font-weight: bold;
}

.lighter {
  font-weight: lighter !important;

  & p {
    font-weight: lighter !important;
  }
}

.bolder {
  font-weight: bolder !important;

  & p {
    font-weight: bolder !important;
  }
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0.5px solid black;

  &.big-margin {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.mt-0 {
  &,
  & p,
  & .content-wrapper {
    margin-top: 0px !important;
    margin-block-start: 0px !important;
  }
}

.mb-0 {
  &,
  & p,
  & .content-wrapper {
    margin-bottom: 0px !important;
    margin-block-end: 0px !important;
  }
}

.container {
  position: absolute;
  min-height: 100%;
  width: 650px;
  padding: 50px;
  padding-top: 20px;

  @include ltr {
    margin-left: 430px; /* Same as the width of the sidebar */
  }

  @include rtl {
    margin-right: 430px; /* Same as the width of the sidebar */
  }

  @media (min-width: 1536px) {
    width: 50%;    
  }
}

.content-wrapper {
  margin-top: 20px;
  cursor: pointer;

  & h2,
  h5,
  p {
    display: inline;
  }

  & .reveal-icon {
    stroke-width: 1.5px;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -7px;

    @include ltr {
      margin-left: 5px;
    }

    @include rtl {
      margin-right: 5px;
    }
  }
}

.unwrapped-content {
  margin-top: 20px;

  &.inline h5,
  &.inline p {
    display: inline;
  }
}

.content-block {
  margin-bottom: 30px;

  & p {
    margin: 0;
  }
}
