/* body {
    font-family: sans-serif;
} */

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 430px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  margin-top: 0px;
  margin-top: 0px;
  background-color: #F8D952; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya';
 }


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  /* color: black; */
  display: block;
  margin-bottom: 50px;
  margin-left: 10px;
}

.sidenav .logo img {
  height: 100px;
  width: 100px;
  margin-left: 30px
}

.sidenav .navLinks {
  margin-top: 50px;
  margin-left: 20px;
}

.sidenav .bottomNavIcons {
  margin-left: 20px;
  display: flex;
  align-items: stretch;
}
.sidenav .bottomNav .facebook {
  margin-left: 0px;
}
.sidenav .bottomNav .instagram {
  margin-left: 7px;
}
.sidenav .email {
  margin-left: 40px;
}

.sidenav .location {
  margin-left: 40px;
  font-weight: bold;
}
.main {
  margin-left: 430px; /* Same as the width of the sidebar */
  height: 100%;
  width: 510px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  top: 0;
  bottom: 0;
  padding: 0px 10px;
  background-color: #F8D952; 
  padding-top: 20px;
  padding: 50px; 
  font-size: 30px;
  font-family: 'Alegreya';

} 

.main h6 {
  margin-bottom: 30px;
}
.topPara {
  margin-top: 0px;
}

.main img {
   width: 800px;
   height: 400px;
}

.main h2 p {
  display: block;

}

.main p {
  font-size: 20px;
  margin-top: 0;
}

.main .into {
  margin-top: 0;
}

.main h6 {
  font-size: 29px;
  margin-top: 0;
}

.main .storyPara .storyLink {
  color: white;
  font-size: 20px;
}


.services {
    display: flex;
    justify-content: flex-start;
    
    
}
.services .text1 {
    font-size: 20px;
    font-weight: bold;  
}

.services span {
    font-size: 20px;
}

.approach {
  margin-top: 30px;
} 

.projects {
  margin-top: 30px 
}

.work{
  margin-top: 30px
}

.approach .text2 {
    
  font-size: 20px;
  font-weight: bold;  
}

.approach span {
  font-size: 20px;
}

.projects .text3 {
  font-size: 20px;
  font-weight: bold;  
}

.projects span {
  font-size: 20px;
}

.work .text4 {
  font-size: 20px;
  font-weight: bold;  
}

.work span {
  font-size: 20px;
}

.icon1 {
  margin-top: 10px;
  margin-left: 10px;
}

 
.navLinks {
  margin-top: 100px;
}


.contactForm {
  background: #F8D952;
  padding: 45px;
  width: 230px; 
  height: 230px;
  margin-top: 580px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
  margin-left: 1100px;
  position: absolute;
  position: fixed;
  border: solid black;
  font-size: 20px;
  font-family: 'Alegreya';
}

.contactFrom .innerContent {
  font-size: 11px;
}


.contactFrom .modal {
  
}