@use "mixins" as *;

.main {
  position: absolute;
  min-height: 100%;
  width: 510px;
  background-color: #f8d952;
  padding: 50px;
  font-size: 30px;
  font-family: "Alegreya";

  @include ltr {
    margin-left: 430px; /* Same as the width of the sidebar */
  }

  @include rtl {
    margin-right: 430px; /* Same as the width of the sidebar */
  }
}

.main h6 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 29px;
}

.topPara {
  margin-top: 0px;
}

.main img {
  width: 800px;
  height: 400px;
}

.main h2 p {
  display: block;
}

.main p {
  font-size: 20px;
  margin-top: 0;
}

.into {
  margin-top: 0;
}

.storyPara {
  margin-top: 20px;
}

.wrappedContent {
  margin-top: 20px;
  font-weight: bold;

  & p {
    display: inline;
  }

  & .revealIcon {
    vertical-align: middle;
    font-size: 20px;
    stroke-width: 1;

    @include ltr {
      margin-left: 5px;
    }

    @include rtl {
      margin-right: 5px;
    }
  }
}

.unwrappedContent {
  margin-top: 20px;

  & p {
    display: inline;
  }
}

.contactForm {
  background: #f8d952;
  padding: 45px;
  width: 230px;
  height: 230px;
  margin-top: 580px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  position: absolute;
  position: fixed;
  border: solid black;
  font-size: 20px;
  font-family: "Alegreya";

  @include ltr {
    margin-left: 1100px;
  }

  @include rtl {
    margin-right: 1100px;
  }
}

.contactFrom .innerContent {
  font-size: 11px;
}
