@use "mixins" as *;

.main {
  position: absolute;
  min-height: 100%;
  width: 510px;
  background-color: #d5e3ef;
  padding: 50px;
  font-size: 30px;
  font-family: "Alegreya";

  @include ltr {
    margin-left: 430px; /* Same as the width of the sidebar */
  }

  @include rtl {
    margin-right: 430px; /* Same as the width of the sidebar */
  }
}

.title {
  font-weight: bold;
}

.wrappedContent {
  margin-top: 40px;
  margin-bottom: 40px;

  & p {
    display: inline;
  }

  & .revealIcon {
    vertical-align: middle;
    font-size: 20px;
    stroke-width: 1;

    @include ltr {
      margin-left: 5px;
    }

    @include rtl {
      margin-right: 5px;
    }
  }
}

.unwrappedContent {
  margin-top: 40px;
}

.content {
  font-size: 20px;
  margin-bottom: 40px;
}

.compStatus {
  display: flex;
  margin-top: 40px;

  & .statusBox {
    width: 160px;
    height: 45px;
    background-color: white;
    border: solid;
    font-size: 18px;
    font-weight: bold;

    & .innerText {
      text-align: center;
      margin-top: -5px;
    }
  }
}
