@use "mixins" as *;

.kashida {
  position: fixed;
  z-index: 2;
  transform: scale(0.5, 0.5);

  &:hover {
    transform: scale(0.25, 0.25);
  }
}

.pageContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.mainPanel {
  position: absolute;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  text-align: center;
  background-color: #f8d952;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media (max-width: 1536px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  & .logo {
    position: absolute;
    top: 0;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    height: 150px;
    width: 175px;
  }

  & .languageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    background: transparent;
    padding: 5px 20px;
    font-size: 25px;
    border: solid 1.5px black;
    cursor: pointer;
    z-index: 3;
  }

  & .bottomKashida {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;

    @media (max-height: 767px) {
      display: none;
    }
  }
}

.bgAnimation {
  width: 0;
  position: absolute;
  background-color: #fff;
  top: 0;
  bottom: 0;
  z-index: 1;

  @media (min-width: 768px) {
    width: 25%;
  }

  @media (min-width: 1536px) {
    width: 27.5%;
  }
}
