@use "mixins" as *;

.kashida {
  position: fixed;
  z-index: 2;
}

.pageContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.mainPanel {
  position: absolute;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8d952;

  @media (max-width: 1536px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  & img {
    position: absolute;
    top: 0;
    height: 150px;
    width: 175px;
    margin-top: 20px;
  }
}

.languageButton {
  position: fixed;
  top: 50%;
  margin-top: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background: #f8d952;
  padding: 20px 0;
  font-size: 30px;
  font-style: bold;
  border: none;
  cursor: pointer;

  & .chevron {
    stroke-width: 0.8px;
    margin: 0 5px;
    vertical-align: middle;
  }
}
