@use "mixins" as *;

.kashida {
  // position: absolute;
  // z-index: 2;
  transform: scale(0.5, 0.5);
}

.kashidaImage {
  display: none;
}

.fixedStyle {
  transform: translate(-50%, 0) !important;
}

.pageContainer {
  // position: fixed;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPanel {
  padding: 20px 110px 20px 110px;
  // height: "calc(100vh - 150px)";
  // position: absolute;
  // width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // font-size: 25px;
  // text-align: center;

  @media (max-width: 1536px) {
    // width: 50%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  & .logo {
    position: relative;
    // top: 0;
    height: 150px;
    width: 175px;
    margin-top: 20px;
  }

  & .languageButton {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    background: transparent;
    padding: 5px 20px;
    font-size: 25px;
    border: solid 1.5px black;
    cursor: pointer;
  }

  & .bottomKashida {
    // position: absolute;
    // bottom: 0;
    // margin-bottom: 20px;
  }
}
