.thirdSec .list {
    list-style: none;
}

.tone .list {
    list-style: none;
    margin-left: 100px;
    font-size: 25px;
    font-family: "Alegreya";
}

.tone .toneFinal {
    font-size: 25px;
    font-family: "Alegreya";
}

.instaGrid {
    display: grid;
	grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;
	grid-gap: 10px;
	grid-template-rows: [row1] 47% [row2] 47%;
}

.title1 {
    font-size: 37px;
    font-weight: bold;
    font-family: "Alegreya";
}


.para1 {
   font-size: 25px; 
   font-family: "Alegreya Sans";
   font-weight: 300;
}

.centerTitle {
    // text-align: center;
    font-size: 37px;
    font-weight: bold;
    font-family: "Alegreya";
}

.center {
    font-size: 25px; 
    font-family: "Alegreya";
    font-weight: 300;
    text-align: center;

}

.locale {
    &.ar,
    & .ar .title1 {
      font-size: 35px;
      font-family: "GE Dinar One";
      background-color: red;

    }
  }  
