.thirdSec .list {
    list-style: none;
}

.tone .list {
    list-style: none;
    margin-left: 140px;
}

.tone .toneFinal {
    margin-left: 140px;
}

.instaGrid {
    display: grid;
	grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;
	grid-gap: 10px;
	grid-template-rows: [row1] 47% [row2] 47%;
}

.title1 {
    font-size: 35px;
    font-weight: bold;
    font-family: "Alegreya";
}


.para1 {
   font-size: 25px; 
   font-family: "Alegreya";
   font-weight: normal;
}