@use "mixins" as *;

.sidenav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 430px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @include ltr {
    left: 0;
    padding-left: 60px;
  }

  @include rtl {
    right: 0;
    padding-right: 60px;
  }

  & .menu {
    display: flex;
    flex-direction: column;
  }
}

.tiltedSquare {
  position: absolute;
  width: 40px;
  z-index: -1;
  transform: scaleX(-1);

  @include ltr {
    margin-left: -10px;
  }

  @include rtl {
    margin-right: -10px;
  }
}

.itemTitle {
  position: relative;

  & p {
    display: inline;
  }

  & .tiltedSquare {
    position: absolute;
    width: 40px;
    z-index: -1;
    transform: scaleX(-1);

    @include ltr {
      margin-left: -30px;
    }

    @include rtl {
      margin-right: -30px;
    }
  }
}

.logo img {
  height: 150px;
  width: 175px;
  margin-bottom: 30px;
  cursor: pointer;

  @include ltr {
    margin-left: -25px;
  }

  @include rtl {
    margin-right: -25px;
  }
}

.navLink {
  & p {
    text-decoration: none;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  & .otherLocaleLink p {
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.complementaryInfo {
  & .bottomNavIcons {
    display: flex;
    align-items: stretch;
  }

  & p {
    margin-top: 5px;
    margin-bottom: 0px;
  }
}

.languageSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 70px;
  height: 30px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 2px;
    border-radius: 34px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  & .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 3px;
    background-color: black;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  & input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
  }
}
