.logo {
  position: absolute;
  top: 16%;
  left: auto;
  right: auto;
  width: 114px;
}
.mobileNotsupportedTextAr {
	position: absolute;
	bottom: 30%;
	text-align: center;
	color: black;
	font-family: "GE Dinar Two" ;
	font-size: 14px;
	width: 80%;
	font-weight: bold;
}
.mobileNotsupportedTextEn {
	position: absolute;
	bottom: 20%;
	text-align: center;
	color: black;
	font-size: 14px;
	font-family:"Alegreya";
	width: 80%;
	font-weight: bold;
}

.mobileNotsupportedContainer {
	display: flex;
	justify-content: center;
	max-height: 100vh;
    overflow: hidden;
}
.notSupportedIframe {
	width: 100vw;
    height: 100vh;
	max-height: 100vh;
    overflow: hidden;
    padding: 21vw;
    padding-top: 24vh;
}
