.title1 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Alegreya";
}
.para1 {
    font-size: 20px; 
    font-family: "Alegreya Sans";
    font-weight: 300;
 }

.title2 {
    font-size: 30px;
    font-weight: bold;
    font-family: "Alegreya";
}

.para2 .para3 {
    font-size: 20px; 
    font-family: "Alegreya Sans";
    font-weight: 300;
}

.image {
    height: 500px;
    width: 750px;
}