.title1 {
    font-size: 30px;
    font-weight: bold;
    //font-family: "Alegreya";
}
.para1 {
    font-size: 20px; 
    //font-family: "Alegreya Sans";
    font-weight: 300;
 }

.title2 {
    font-size: 30px;
    font-weight: bold;
    //font-family: "Alegreya";
}

.para3 {
    font-size: 20px; 
    //font-family: "Alegreya Sans";
    font-weight: 300;
}

.para2 {
    font-size: 20px; 
    //font-family: "Alegreya Sans";
    font-weight: 300; 
}
.image1 {
    height: 400px;
    width: 800px;
    margin-left: -35px;
}

.image2 {
    height: 500px;
    width: 750px;
}

.centerTitle {
    // text-align: center;
    font-size: 30px;
    font-weight: bold;
    //font-family: "Alegreya";
    margin-bottom:40px;
}

.center {
    font-size: 20px; 
    //font-family: "Alegreya";
    // text-align: center;

}


.totalWhiteBox {
    margin-left: 33px;
}