@use "mixins" as *;

.main {
  position: absolute;
  min-height: 100%;
  width: 510px;
  background-color: #fbec9a;
  padding: 50px;
  font-size: 30px;
  font-family: "Alegreya";

  @include ltr {
    margin-left: 430px; /* Same as the width of the sidebar */
  }

  @include rtl {
    margin-right: 430px; /* Same as the width of the sidebar */
  }
}

.mainTitle {
  font-weight: bold;
  font-size: 25px;
}

.firstPara {
  font-size: 25px;
  margin-top: 40px;
}

.secondPara {
  font-size: 20px;
  margin-top: 40px;
}

.content {
  margin-top: 50px;
  font-size: 23px;
}

.projects {
  margin-top: 20px;
}

.project {
  font-size: 35px;
  font-weight: bold;
}

.creative .title {
  font-size: 25px;
}

.brandLogos .logoGrid {
  margin-top: 40px;
  width: 750px;
  height: 800px;
  border: solid;
  background-color: white;
}

.brandLogos .clients {
  font-size: 30px;
  margin: 15px;
}
