@use "mixins" as *;

.clientCategory {
  margin-bottom: 10px;

  & p {
    margin-bottom: 10px;
  }
}

.client p {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.logoGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  img {
    width: 150px;
  }
}
