@use "mixins" as *;

.clientCategory {
  margin-bottom: 10px;

  & p {
    margin-bottom: 10px;
  }
}

.client p {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.logoGrid {
  display: block;
  margin: 0 auto;

  & .companies {
    margin-top: 30px;
  }
}
