@use "mixins" as *;

.main {
  position: absolute;
  min-height: 100%;
  width: 510px;
  background-color: #f7f5f0;
  padding: 50px;
  font-size: 30px;
  font-family: "Alegreya";

  @include ltr {
    margin-left: 430px; /* Same as the width of the sidebar */
  }

  @include rtl {
    margin-right: 430px; /* Same as the width of the sidebar */
  }
}

.first {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mainTitle {
  font-weight: bold;
}

.mainPara {
  margin-top: 60.5px;
  font-size: 25px;
  margin-bottom: 40px;
}

.contactUs .stepTitle {
  font-size: 20px;
  font-weight: bold;
}

.contactUs .stepInfo {
  font-size: 20px;
}

.form .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.form .stepInfo {
  font-size: 20px;
}

.quotation .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.quotation .stepInfo {
  font-size: 20px;
}

.timeline .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.timeline .stepInfo {
  font-size: 20px;
}

.research .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.research .stepInfo {
  font-size: 20px;
}

.writing .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.writing .stepInfo {
  font-size: 20px;
}

.delivery .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.delivery .stepInfo {
  font-size: 20px;
}

.feedback .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.feedback .stepInfo {
  font-size: 20px;
}

.adapt .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.adapt .stepInfo {
  font-size: 20px;
}

.final .stepTitle {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.final .stepInfo {
  font-size: 20px;
}

.firstPara {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.secondPara {
  margin-top: 40px;
  font-size: 20px;
}

.thirdPara {
  margin-top: 40px;
  font-size: 20px;
}

.serviceListBox {
  margin-top: 50px;
  width: 850.5px;
  height: 350px;
  border: solid;
  background-color: white;
}

.serviceListBox .introPara {
  margin-top: 25.5px;
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

.services .naming,
.manifesto,
.slogans,
.profile,
.website,
.socialMedia {
  margin-left: 15px;
  font-size: 22px;
  margin-top: 15px;
  display: flex;
  font-weight: bold;
}

.services .serviceName {
  margin-left: 5px;
}
