/* ServicesSection.module.css */

.services {
  max-width: 960px;
  padding: 20px;
}

.header {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro {
  margin-bottom: 40px;
}

.service {
  display: flex;
  align-items: flex-start; /* Align items to the start of the cross axis */
  justify-content: space-between;
  margin-bottom: 40px; /* Adjust as needed */
}

.service.reversed {
  flex-direction: row-reverse;
}

.titleContainer {
  flex-basis: 60%;
  display: flex; /* Use flex to align items */
  align-items: flex-start; /* Align items to the start of the cross axis */
}

.title {
  font-size: 34px; /* Adjust size to fit your design */
  font-weight: bold;
  margin: 0;
}

.descriptionContainer {
  flex-basis: 60%;
  display: flex; /* Use flex to align items */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align children to the start of the main axis */
}

.description {
  font-size: 24px;
  width: 75%;
  margin: 0 0 20px 0;
}

.readMore {
  font-size: 16px;
  text-decoration: none;
  color: #41a99c;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.readMore:hover {
  text-decoration: underline;
}

.separator {
  border: 0;
  height: 30px; /* Adjust the height as needed to display your image correctly */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Adjust as needed to fit the image */
  margin: 40px 0; /* Adjust as needed */
}

.separator.purple {
  background-image: url('/kashidas/kashida_line_purple.png');
}

.separator.red {
  background-image: url('/kashidas/kashida_line_red.png');
}

.separator.gold {
  background-image: url('/kashidas/kashida_line_gold.png');
}
