.title {
    font-size: 30px;
    font-weight: bold;
}

.para {
    font-size: 20px;
    //font-family: "Alegreya Sans";
    font-weight: 300;  
}

.para1 {
    font-size: 20px;
    //font-family: "Alegreya Sans";
    font-weight: 300;  
}

.para2 {
    font-size: 20px;
    //font-family: "Alegreya Sans";
    font-weight: 300;  
}

.para3 {
    font-size: 20px;
    //font-family: "Alegreya Sans";
    font-weight: 300;  
}


.bold {
    text-align: center;
    font-weight: bold;
}

.light {
    text-align: center;
}

.one {
    text-align: center;
}
.two {
    text-align: center;
}
.three {
    text-align: center;
}
.four {
    text-align: center;
}
.five {
    text-align: center;
}
.six {
    text-align: center;
}