@use "mixins" as *;

.storyCover {
  margin-top: -50px;

  & div {
    display: block !important;
  }

  @include ltr {
    margin-left: -50px;
  }

  @include rtl {
    margin-right: -50px;
  }

  @media (min-width: 1536px) {
    width: 50vw;
  }
}

.gridContainer {
  width: 450px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

  @include ltr {
    margin-right: 75px;
  }

  @include rtl {
    margin-left: 75px;
  }
}

.gridItemImage {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: white;
  background-size: 200px 200px;
}
